extends partial/landing-layout.pug

block content
	div.landing.main
		div.overlay
			h2 CALLING ALL VETERANS...
			h1 VETERAN EDUCATION FUND
			h3 The Veteran Education fund has your six.
			h3 Learn more and see if you qualify for educational funding.
			button#learnMore LEARN MORE

	include partial/content-card.pug
	
	div#cardForm
		div#formWrapper
			div.info
				h1 WANT TO SEE IF YOU QUALIFY?
				h2 IT'S FREE!
				h3 Initial screening will not affect your credit score.
			form(id="submitForm")
				div.inputRow
					div.inputContainer
						label First Name
						input(class="input leftCol" type="text" id="fname" name="firstName" placeholder="First Name")
					div.inputContainer
						label Last Name
						input(class="input" type="text" id="lname" name="lastName" placeholder="Last Name")
				div.inputRow
					div.inputContainer#emailContainer
						label Email
						input(class="input leftCol" type="text" id="email" name="email" placeholder="Email")
					div.inputContainer
						label Phone
						input(class="input" type="text" id="phone" name="contactphone" placeholder="Phone")
				div.inputRow
					div.inputContainer
						label Address
						input(class="input leftCol" type="text" id="address" name="address" placeholder="Address")
					div.inputContainer
						label City
						input(class="input" type="text" id="city" name="city" placeholder="City")
				div.inputRow
					div.inputContainer
						label Zip
						input(class="input leftCol" type="text" id="zip" name="zip" placeholder="Zip")
					div.stateSelect
						label State
						select(id="state" name="state")
							option(id="placeholder" disabled selected value) Please select a state
							option(value="AL" required="required") AL
							option(value="AK" required="required") AK
							option(value="AZ" required="required") AZ
							option(value="AR" required="required") AR
							option(value="CA" required="required") CA
							option(value="CO" required="required") CO
							option(value="CT" required="required") CT
							option(value="DE" required="required") DE
							option(value="FL" required="required") FL
							option(value="GA" required="required") GA
							option(value="HI" required="required") HI
							option(value="ID" required="required") ID
							option(value="IL" required="required") IL
							option(value="IN" required="required") IN
							option(value="IA" required="required") IA
							option(value="KS" required="required") KS
							option(value="KY" required="required") KY
							option(value="LA" required="required") LA
							option(value="ME" required="required") ME
							option(value="MD" required="required") MD
							option(value="MA" required="required") MA
							option(value="MI" required="required") MI
							option(value="MN" required="required") MN
							option(value="MS" required="required") MS
							option(value="MO" required="required") MO
							option(value="MT" required="required") MT
							option(value="NE" required="required") NE
							option(value="NV" required="required") NV
							option(value="NH" required="required") NH
							option(value="NJ" required="required") NJ
							option(value="NM" required="required") NM
							option(value="NY" required="required") NY
							option(value="NC" required="required") NC
							option(value="ND" required="required") ND
							option(value="OH" required="required") OH
							option(value="OK" required="required") OK
							option(value="OR" required="required") OR
							option(value="PA" required="required") PA
							option(value="RI" required="required") RI
							option(value="SC" required="required") SC
							option(value="SD" required="required") SD
							option(value="TN" required="required") TN
							option(value="TX" required="required") TX
							option(value="UT" required="required") UT
							option(value="VT" required="required") VT
							option(value="VA" required="required") VA
							option(value="WA" required="required") WA
							option(value="WV" required="required") WV
							option(value="WI" required="required") WI
							option(value="WY" required="required") WY
				button#submitAppBtn(type="submit" disabled) APPLY FOR FREE!


