footer.footer
    ul
       li LOAN APPLICANTS
       li Questions on your loan application? Contact help@veteranseducation.fund  
    ul
       li STAY IN THE KNOW
       li Sign up for the Veteran's Education newsletter to stay up to day with Veteran Funding opportunities!
       input(type="text", name="email")
       button.getStarted SIGN UP 
    ul
       li INFO & PRIVACY
       li FAQ
       li CAREERS
       li PRIVACY POLICY
       li TERMS OF USE
       li © Copyright 2015-2017 Veteran Education Fund, LLC