header.header
     div.logo
      img(src='/css/images/veteran-logo.png')
     div.navBar
      ul
       li YOUR SCHOOL
       li YOUR TERMS
       li YOUR FUTURE
       li BLOG
       li ABOUT
       button.getStarted GET STARTED