section.main
 div.overlay
  h1 VETERAN EDUCATION FUND
  h2 Are You a Veteran?
  h3 The Veteran Education Fund has your 6!
  form(action='/learn')
   button(class='learnBtn', type='submit') LEARN MORE
