div.cardCopy
	div.content
		h1#copyHeading LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. SED UT IN DO COMMODO.
		p#copyPar Lorem ipsum irure sunt aliqua ullamco deserunt in reprehenderit laboris qui nisi esse officia sed ut in do incididunt velit commodo tempor in qui. Lorem ipsum consectetur dolore commodo non irure et reprehenderit aliqua sunt eiusmod fugiat officia ut eiusmod minim dolor sunt est tempor ullamco magna ad esse sint velit reprehenderit sint deserunt dolor est ex ullamco sit culpa sit excepteur minim incididunt ad dolor deserunt.