footer#landingFooter
	div#footerWrapper
		ul.footerItem
			li.footerHeading LOAN APPLICANTS
			li Questions concerning your loan application? Please email LoanHelp@vetedfunding.com
		ul.footerItem
			li.footerHeading CONTACT
			li Pariatur laborum ullamco commodo eiusmod sed minim in anim consequat labore reprehenderit cupidatat.
			li Labore reprehenderit cupidatat.
		ul.footerItem
			li.footerHeading SUPPORT
			li Pariatur laborum ullamco commodo eiusmod sed minim in anim consequat labore reprehenderit cupidatat.
			li Labore reprehenderit cupidatat.