footer#landingFooter
	div#footerWrapper
		ul.footerItem
			li.footerHeading LOAN APPLICANTS
			li.list-item Questions concerning your loan application? Please email LoanHelp@vetedfunding.com
		ul.footerItem
			li.footerHeading STAY IN THE KNOW
			li.list-item Pariatur laborum ullamco commodo eiusmod sed minim in anim consequat labore reprehenderit cupidatat.
			li.email-input
				input(type="text" placeholder="you@youremail.com")
				button(id="email-submit-btn") GO
		ul.footerItem
			li.footerHeading INFO & PRIVACY
			li.list-item 
				a(href="") FAQ
			li.list-item
				a(href="") Careers
			li.list-item
				a(href="") Privacy Policy
			li.list-item
				a(href="") Terms of Use
			li.list-item.copyright &copy; 2017 FundBot LLC
		ul.footerItem
			li.footerHeading School Partership & General Inquiries
			button(id="partnership-button") PARTNERSHIP INQUIRY
			div
				ul#social-icons
					li.list-item 
						a(href="") LinkedIn
					li.list-item 
						a(href="") Twitter
					li.list-item
						a(href="") Facebook






